html, body{
    min-height: 100%;
}

body{
    background:
    linear-gradient(
        rgba(230,240,230,0.65),
        rgba(230,240,230,0.65)
    ),
    url("../img/hoj.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
